@media (max-width: 1515px) {
  .db-hd {
    font-size: 30px;
    padding: 35px 0;
  }

  .db-hd-mini {
    font-size: 22px;
  }

  .db-form {
    background: #9e9e9e4b;
    border-radius: 20px;
    padding: 40px 30px;
  }

  .s-nav-link a,
  .s-nav-link button {
    font-size: 15px;
  }
}

@media (max-width: 1445px) {
  .db-hd {
    font-size: 30px;
    padding: 35px 0;
  }

  .db-hd-mini {
    font-size: 23px;
  }

  .side-bar-logo-img img {
    width: 170px !important;
  }

  .dropdown.header-dropdown button {
    font-size: 14px;
  }

  .db-para {
    font-size: 17px;
  }

  .s-nav-link a,
  .s-nav-link button {
    font-size: 14.1px;
  }
}

@media (max-width: 1370px) {
  .side-panel {
    width: 25%;
  }

  .db-hd {
    font-size: 27px;
    padding: 35px 0;
  }

  .db-hd-mini {
    font-size: 21px;
  }

  .side-bar-logo-img img {
    width: 150px !important;
  }

  .dash-box3 {
    margin-top: 30px;
  }

  .db-para {
    font-size: 16px;
  }
}

@media (max-width: 1285px) {
  .db-hd {
    font-size: 25px;
    padding: 35px 0;
  }

  .db-hd-mini {
    font-size: 20px;
  }

  .head-search-bar input {
    width: 280px;
  }

  .db-table table,
  .data {
    font-size: 17px;
  }

  .s-nav-link a,
  .s-nav-link button {
    font-size: 16px;
  }

  .side-panel {
    width: 30%;
  }
}

@media (max-width: 1205px) {
  .side-bar-logo-img img {
    width: 140px !important;
  }

  .s-nav-link a,
  .s-nav-link button {
    font-size: 11.5px;
  }
}

@media (max-width: 1024px) {
  .main-panel {
    display: block !important;
  }

  header {
    border: none;
  }

  .mob-menu-btn,
  .mob-menu-btn button {
    display: block;
  }

  .side-panel {
    position: absolute;
    left: -1000px;
    width: 280px;
    /* ✅ FIXED WIDTH */
    min-width: 280px;
    /* ✅ EXTRA SAFETY */
    height: 100vh;
    z-index: 999;
    transition: all 0.5s ease-in-out;
  }

  .side-panel.show {
    left: 0px;
    z-index: 9999;
  }

  .side-bar-logo-img img {
    width: 100px !important;
    height: 40px;
  }

  .side-bar-logo-img a {
    color: #fff;
    flex-direction: column;
    align-items: start;
    padding: 0 0 0 15px;
    font-size: 20px;
    font-weight: 600;
    display: flex;
  }

  .side-panel {
    z-index: 999;
    width: auto;
    min-width: 500px;
    height: 100vh;
    transition: all 0.5s ease-in-out;
    position: absolute;
    left: -1000px;
    opacity: 100%;
  }

  .main-content {
    width: 100% !important;
  }

  .side-panel {
    width: none;
  }

  .menu-serach {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
  }

  .col-lg-9.col-12 {
    width: 100%;
  }

  .db-hd {
    padding: 30px 0;
    font-size: 22px;
  }

  .db-form {
    background: #9e9e9e4b;
    border-radius: 20px;
    padding: 30px 20px;
  }

  .form-submit-btn {
    font-size: 15;
  }

  .db-para {
    font-size: 15px;
  }

  .head-search-bar input {
    width: 260px;
  }

  .db-table table,
  .data {
    font-size: 16px;
  }

  .side-bar-area {
    width: 75%;
  }

  .sidebar-close-btn {
    display: block !important;
  }

  .sidebar-close-btn i {
    color: red;
    font-size: 15px;
  }
}

@media (max-width: 768px) {
  .db-hd {
    padding: 30px 0;
    font-size: 17px;
  }

  .sidebar-close-btn {
    padding: 7px 10px;
  }

  .db-hd-mini {
    font-size: 16px;
  }

  .form-submit-btn {
    font-size: 14;
  }

  .header-input {
    padding: 12px 25px;
    font-size: 11px;
  }

  .form-submit-btn {
    font-family: 13px;
    padding: 6px 20px;
  }

  .dash-box2 {
    margin-top: 30px !important;
  }

  .head-search-bar {
    display: none;
  }

  .mob-menu-btn button {
    padding: 7px;
  }
}

@media (max-width: 768px) {
  .db-para {
    font-size: 14px;
    padding: 0 35px;
  }

  .db-table table,
  .data {
    font-size: 15px;
  }

  .db-hd {
    padding: 25px 0;
  }

  .db-table table td,
  .data td,
  .data th,
  .db-table table th {
    padding: 20px 15px;
  }

  .db-table table,
  .data {
    font-size: 14px;
  }

  .form-submit-btn {
    font-family: 12px;
    padding: 4px 15px;
  }

  .side-bar-area {
    width: 65%;
  }
}

@media (max-width: 505px) {
  .side-bar-area {
    width: 55%;
  }

  .side-bar-logo-img img {
    height: 30px;
    width: 85px !important;
  }

  .container-fluid {
    padding: 15px;
  }

  .s-nav-link a,
  .s-nav-link button {
    font-size: 10.5px;
  }
}

@media (max-width: 375px) {
  .dropdown.header-dropdown button {
    font-size: 12px;
  }
}